/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}


@font-face {
  font-family: zorque;
  src: url(fonts/zorque.ttf);
}
@font-face {
  font-family: joystix;
  src: url(fonts/joystix.ttf);
}

html,body{
    font-family: joystix;
    margin: 0;
    height: 100%;
}
.container{
    overflow: auto;
    background-color: grey;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 9fr;
    grid-template-columns: 1fr 6fr;
}

.app-container{
    margin-top: 20px;
    height: 100%;
    background-color: rgb(45, 54, 64);
}

.title-box{
    font-family: zorque;
    background-color: grey;
    text-align: center;
}
.navbar div{
    font-size: 20px;
    margin: auto;
}
.navbar a{
    text-decoration: none;
    color: black;
}
.navbar a:hover{
    color: #4a596b;
    cursor: pointer;
}
.navbar{
    background-color: darkgrey;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 2fr 3fr;
}
.app-field{
    background-color: grey;
}
.app-list-container{
    background-color: darkgrey;
    text-align: center;
}
.app-list{
    font-size: 20px;
    display: grid;
    white-space: nowrap;
}
.app-list a{
    text-decoration: none;
    color: black;
}
.app-list a:hover{
    color: white;
    cursor: pointer;
}
.app-list a img{
    display: inline-block;
    width: 50px;
    height: 50px;
}
.login-menu{
    padding: 20px;
}
.login-menu a{
    padding: 10px;
}
.menu a{
    padding: 10px;
}
.login-form{
    padding: 20px;
    font-size: 42px;
    text-align: center;
}
/* Change the white to any color ;) */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px darkgrey inset !important;
    font-size: 18px;
    font-family: joystix;
}
input:-webkit-autofill::first-line {
    font-family: joystix;
    font-size: 18px;
}
textarea,input[type=password],input[type=number],input[type=email],input[type=text]{
    border: 0;
    font-size: 18px;
    background-color: darkgrey;
    text-align: center;
    font-family: joystix;
    padding: 10px;
}
input[type=email]{
    width: 340px;
}
input[type=password]:focus,,input[type=number]:focus,input[type=email]:focus,input[type=text]:focus{
    outline: none;
}
.message{
    text-align: center;
    padding: 25px;
}
.form-group{
    margin: 10px;
}
form label{

    font-size: 24px;    
}
.btn-grey{
    font-family: joystix;
    background-color: darkgrey;
    font-size: 0.5em;
    padding: 10px;
}
.btn-grey:hover{
    color: white;
    cursor: pointer;
}
.btn-grey:focus{
    background-color: grey;
}
.app-list{
    padding: 10px;
    width: 250px;
    white-space: pre;           /* CSS 2.0 */
    white-space: pre-wrap;      /* CSS 2.1 */
    white-space: pre-line;      /* CSS 3.0 */
    white-space: -pre-wrap;     /* Opera 4-6 */
    white-space: -o-pre-wrap;   /* Opera 7 */
    white-space: -moz-pre-wrap; /* Mozilla */
    white-space: -hp-pre-wrap;  /* HP Printers */
    word-wrap: break-word;      /* IE 5+ */
}
.app-title{
    padding: 20px;
}
.title-box a{
    text-decoration: none;
    color: black;
}
.title-box a:hover{
    color: white;
}
.app-item{
    text-align: center
}
.app-item span, .app-item img{
    vertical-align: middle;
}
svg:hover{
  filter: drop-shadow(0.5px 0.5px 0px rgb(255,255,255)) drop-shadow(-0.5px 0.5px 0px rgb(255,255,255)) drop-shadow(0.5px -0.5px 0px rgb(255,255,255)) drop-shadow(-0.5px -0.5px 0px rgb(255,255,255));
}
a:hover > img{
  filter: drop-shadow(1px 1px 0px #FFFFFF) drop-shadow(-1px 1px 0px #FFFFFF)
  drop-shadow(1px -1px 0px #FFFFFF) drop-shadow(-1px -1px 0px #FFFFFF);
}
img{
  filter: drop-shadow(1px 1px 0px #FFFFFF) drop-shadow(-1px 1px 0px #FFFFFF)
  drop-shadow(1px -1px 0px #FFFFFF) drop-shadow(-1px -1px 0px #FFFFFF);
}
table{
    margin: auto;
}
th{
    padding: 10px;
}
.btn{
    font-size: 1em;
    padding: 10px;
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    font-family: joystix;
    background-color: darkgrey;
}
.btn:hover{
    color: white;
    cursor: pointer;
}
.btn:focus{
    background-color: grey;
}
.btn-danger{
    font-size: 1em;
    padding: 10px;
    border-color: #a12731;
    background-color: #f54251;
}
.btn-primary{
    border-color: #33629c;
    background-color: #3278cf;
}
.btn-success{
    border-color: #51ad00;
    background-color: #4ca300;
}

table{
    border-spacing: 0;
}
td,th{
    border: 1px solid white;
}
.admin-navbar{
    background-color: #4a596b;
    padding: 20px;
    text-align: center;
    border-bottom: 15px #5b6e85 solid;
}
.admin-navbar a{
    text-decoration: none;
    color: black;
}
.admin-navbar a:hover{
    color: white;
}
.money{
    color: #ffc20a !important;
}
.money:hover{
    color: #ffdb6e !important;
}
.level{
    color: #00bfff !important;
}
.level:hover{
    color: #8ae2ff !important;
}

/*
Fishing App Design
*/
.fishing-container {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 0.9fr 1.1fr;
  grid-template-rows: 0.3fr 1.7fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "exp exp exp exp"
    "fishing fishing fishing inventory"
    "fishing fishing fishing inventory";
}
.exp-bar {
    background-color: #696969;
    grid-area: exp;
}
.fishing-inventory {
    background-color: #DEB887;
    grid-area: inventory;
}
.fishing {
    text-align: center;
    background-color: #7FFFD4;
    grid-area: fishing;
}
.exp-fill{
    height: 100%;
    width: 20%;
    background-color: #7FFF00;
}
.brewing{
    display: flex;
}
.brewing .items{
    position: relative;
    left: 20%;
}
/* .brewing .brewingpicture img {
    width: 50%;
    height: auto;
    padding: 0;
  }

.brewing{
    display: inline-block;
  }

.brewing button {
    position: absolute;

    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #555;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }

.items button:hover {
    background-color: black;
  }
  */